<kc-email
  preview="Here is a preview"
  [locale]="$locale()"
>
  <ng-email-text styleClass="text-gray-500 text-left leading-6">
    Someone just requested to change your {{ realmName }} account's credentials. If this was you, click on the link
    below to reset them.<br />
    <a [href]="link">Link to reset credentials</a>
    <br />
    This link will expire within {{ linkExpiration }}.<br />
    If you don't want to reset your credentials, just ignore this message and nothing will be changed.<br />
  </ng-email-text>
</kc-email>
