<div class="row">
  <div class="col-md-10">
    <h2>{{ i18n.msgStr('changePasswordHtmlTitle') }}</h2>
  </div>
  <div class="col-md-2 subtitle">
    <span class="subtitle">{{ i18n.msgStr('allFieldsRequired') }}</span>
  </div>
</div>

<div class="form-horizontal">
  <button
    [kcClass]="['kcButtonClass', 'kcButtonPrimaryClass', 'kcButtonLargeClass']"
    (click)="
      goToAuthServer({
        extraQueryParams: { kc_action: 'UPDATE_PASSWORD' },
      })
    "
  >
    {{ i18n.msgStr('changePasswordHtmlTitle') }}
  </button>
  @let backFromAuthServer = backFromAuthServer$ | async;
  @if (backFromAuthServer?.extraQueryParams?.['kc_action'] === 'UPDATE_PASSWORD') {
    <p>
      @switch (backFromAuthServer?.result?.['kc_action_status']) {
        @case ('success') {
          Password successfully updated
        }
        @case ('cancelled') {
          Password unchanged
        }
      }
    </p>
  }
</div>
